* {
	margin: 0;
	padding: 0;
	 background-attachment: fixed;
}



/* header */

#header {
	overflow: hidden; 
	position: absolute; 
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#back {
	width: 100%;
}

#header h1 {
	position: absolute;
	font-size: 50px;
	padding: 1%;
	top: 30%;
	left: 30%;
	right: 30%;
	width: 40%; 
	color: white;
}

#header h2 {
	font-size: 35px; 
	position: absolute;
	padding: 1%;
	top: 38%;
	left: 30%;
	right: 30%;
	width: 40%; 
	color: white;
	margin-top: 1%;
}

#header h1, h2 {
	background: rgba(0, 0, 0, 0.8);
}



/* side bar */

#side_bar {
	position: fixed;
	z-index: 5; 
	top: 30%;
	left: 10%;
}

#side_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background: rgba(0, 0, 0, 0.8);
}

#side_bar li a {
    display: block;
    color: #fff;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 25px;
}

#side_bar li a:hover {
    background-color: #000;
    color: white;
}

#side_bar li {
	text-align: center;
}


/* About me */

#about_me_title {
	width: 30%;
	right: 35%;
	left: 35%;
	top: 20%;

	color: white;
	overflow: hidden; 
	position: absolute; 
	text-align: center;

	background: rgba(0, 0, 0, 0.8);
}

#about_me_text {
	width: 40%;
	right: 30%;
	left: 30%;
	top: 30%;

	color: white;
	overflow: hidden; 
	position: absolute; 
	text-align: center;
	background: rgba(0, 0, 0, 0.8);

}

/* Assignments */

#week_number {
	width: 30%;
	right: 35%;
	left: 35%;
	top: 20%;

	color: white;
	overflow: hidden; 
	position: absolute; 
	text-align: center;

	background: rgba(0, 0, 0, 0.8);
}